/* **GENERAL** */

* {
    box-sizing: border-box;
}
html{
    margin: 0;
   
}
body{
    background-color: #333333;
    font-family: opensanslight;
    width: 100vw;
    font-size: 25px;
}

/* **FONTS** */
@font-face {
    font-family: opensanslight;
    src: url(../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf);
}

@font-face {
    font-family: opensansitalic;
    src: url(../fonts/Open_Sans_Condensed/OpenSansCondensed-LightItalic.ttf);
}

@font-face {
    font-family: opensansbold;
    src: url(../fonts/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf);
}
/* ***HEADER*** */


.main-header{
    width: 100vw;
    height: 40px;
    padding: 8.5px 25px 0 24.5px;
    background-color: #424245;
}
.main-nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-inline-end: 40px;
    font-size: 1em;
    font-family:opensansbold,serif; ;
   
}
a:hover{
    cursor: pointer;
}
div.logo img{
    height: 30px;
}

/* ***KEYWORDS SECTION*** */

section.keywords-filter {
    flex-direction: column;
    height: 110px;
    width: 100vw;
    margin-bottom: 10px;
    padding: 10px 15px 10px 15px;
    background-color: #333333;
    box-shadow: inset 0px 20px 20px 14px #0008;
}
.keyword{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-inline-end: 40px;
    font-family:opensansbold,serif; ;
   
}
.baby,.dog,.politics,.sports,.film,.tv{
    display: none;
}
.cat::after{
    content: '   MORE...';
    font-size: 0.6em;
    margin-inline-start: 15px;
}
div.filter-tool{
    margin-bottom: 10px;
}

/* **MAIN LAYOUT** */

/* **CANVAS** */

canvas{
    background-color: white;
}
.canvas-container{
    width: 80vw;
    padding: 20px,40px,20px,40px;
    margin: auto;
}
/* ***MEME GENERATOR*** */

section.meme-generator{
    width: 100vw;
    background-color: #e0dcdc30;
    margin: 40px 0 40px 0;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 20px 40px 20px 40px;
    display: none;
}

.meme-editor{
    background-color: rgb(25, 24, 24);
    border-radius: 6px;
    padding: 20px 20px 20px 20px;
    height: 300px;
    display: grid;
    grid-template-areas: 
    "txt txt txt txt txt"
    ". btnA btnB btnC ."
    "btnD btnE btnF btnG btnH"
    "select select btnI btnJ btnK"
    "upload upload upload upload upload"
    ;
}
.meme-editor button{
    margin: 0 10px 10px 0;
    height: 50px;
    width: 50px;
    align-self: center;
    justify-self: center;
    border-radius: 6px;
    box-shadow: 1px -1px 3px #ef6b30;
}
input[type=text]{
    margin: 0 10px 10px 0;
}
input[type=file]{
    position: absolute;
    opacity: 0;
}
select[name=font]{
    margin: 0 10px 10px 0;
    height: 50px;
    align-self: center;
    font-family: opensanslight;
    font-size: 20px;
    text-align: center;
}
.grid-item1{
    grid-area: txt;
}
.grid-item5{
    grid-area: btnA;
}
.grid-item6{
    grid-area: btnB;
}
.grid-item7{
    grid-area: btnC;
}
.grid-item2{
    grid-area: btnD;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item3{
    grid-area: btnE;
}
.grid-item4{
    grid-area: btnF;
}
.grid-item11{
    grid-area: btnG;
}
.grid-item12{
    grid-area: btnH;
}
.grid-item13{
    grid-area: select;
}
.grid-item8{
    grid-area: btnI;
}
.grid-item9{
    grid-area: btnJ;
}
.grid-item10{
    grid-area: btnK;
}
.meme-editor button.grid-item14{
    grid-area: upload;
    width: 130px;
}
input[type=color]{
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
}
section.gallery{
    /* background-color: #e8e8e8ab; */
    display: grid;
    row-gap: 5px;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-items: center;
    margin-bottom: 20px;

}
.img-container{
    height: 315px;
    width:  315px;
    margin: 0,0,0,0;
}
.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-img:hover{
    cursor: pointer;
}
.icon{
    height: 25px;
    width: 25px;
    border-radius: 6px;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}


/* ***FOOTER*** */
.main-footer{
    background-color: #333333;
    box-shadow: inset 0px 20px 20px 14px #0008;
    padding-top: 40px;
}
.company-desc .img-container{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-inline-end: 70px;
}
section.company-desc p{
    line-height: 1.5em;
    text-align: center;
}
section.company-desc p span{
    font-weight: bolder;
    font-size: 1.5em;
    font-family: opensansbold,serif;
}
.company-desc{
    flex-direction: column;
    margin-bottom: 20px;
    font-family: opensansitalic,serif;
}
.company-desc .img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
div.cofferights{
    background-color: #acacc06b;
    border-top: 0.6px solid #f0fefe;
    text-align: center;
}
div.cofferights p{
     font-size: 1em;
}
div.cofferights p span{
    font-size: 0.9em;
}

/* **HELPERS** */

.flex {
    display: flex;
}
.flex.column{
    flex-direction: column;
}
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.flex.space-between {
    justify-content: space-between;
}
.flex.justify-center{
    justify-content: center;
}
.flex.align-center {
    align-items: center;
}
.txt-design{
    font-family: opensanslight,serif;
    font-size: 20px;
    text-align: center;

}

/* **SCREENS** */
.main-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .35);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;

    transition: opacity .6s;
}
body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}

/* ***HAMBURGER*** */

@media (max-width: 992px) {
    .main-nav button{
        height: 30px;
        width: 40px;
        background-color: rgba(0, 0, 0, 0.67);
        border: 2px solid black;
        color: white;
        font-size: 0.68em;
        text-align: center;
        font-weight: bolder;
    }
    .main-nav ul{
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.67);
        height: 100vh;
        border-inline-start: 1px solid #333333;
        width: 200px;
        transform: translateX(100%);
    
        transition: transform .6s, box-shadow .6s;
    }
    .main-nav a {
        display: block;
        padding: 6px 10px;
        transition: background-color .3s;
    }
    .main-header .main-nav a:hover {
        text-decoration: none;
        background-color: #eee;
        color: #333333;
    }
    body.menu-open .main-nav ul {
        box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
        transform: translateX(0);
    }

}



/* **TABLET** */

@media (min-width: 450px){

    section.gallery{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
    .img-container{
        height: 300px;
        width: 300px;
        margin: 0,0,0,0;
    }
    .baby,.dog{
        display: inline;
    }
    .cat::after{
        content: none;
    }
    .dog:after{
        content: '   MORE...';
        font-size: 0.6em;
        margin-inline-start: 15px;
    }
    section.company-desc p{
        font-size: 30px;
    }
    section.company-desc p span{
        font-weight: bolder;
        font-size: 2em;
        font-family: opensansbold,serif;
    }
    div.cofferights p{
        font-size: 25px;
    }
    div.cofferights p span{
        font-size: 0.6em;
    }

}

/** DESKTOP **/

@media (min-width: 992px){

    section.keywords-filter{
        flex-direction: row;
    }
    .company-desc{
        flex-direction: row;
        justify-content: center;
    }
    .btn-menu{
        display: none;
    }
    section.meme-generator{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .img-container{
        height: 200px;
        width: 200px;
        margin: 0,0,0,0;
    }
    section.gallery{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    .canvas-container{
        width: 500px;
        padding: 20px,40px,20px,40px;
    }
    div.filter-tool{
        margin-bottom: 0px;
    }
    .politics,.sports,.film,.tv{
        display: inline;
    }
    .dog:after{
        content: none;
    }

}

